@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply mb-5 flex flex-col items-center flex-wrap rounded-lg border border-gray-200 shadow-md;
}
.primary-button {
    @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}
.primary-button:disabled {
  @apply bg-gray-300 hover:bg-gray-400 active:bg-gray-500;
}
.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 8rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: .25em 0;
  border-radius: 3px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}
.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}